@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu", sans-serif;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: #16161b;
    opacity: 0.7;
  }

  100% {
    background-color: #16161b;
  }
}

.modal-enter {
  animation: modal-enter-animation 150ms linear;
}

@keyframes modal-enter-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal-exit {
  animation: modal-exit-animation 150ms linear;
}

@keyframes modal-exit-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.file-input::file-selector-button {
  background-color: #16161b !important;
}

@layer components {
  .fcc {
    @apply flex justify-center items-center;
  }
  .animation {
    @apply transition-all ease-in-out duration-300;
  }
  .btn-mechat-orange {
    @apply bg-mOrange text-white py-3 rounded-3xl shadow-xl hover:text-white hover:bg-mBlack-300 animation font-semibold;
  }
}
